<p id="notice"><%= notice %></p>

<p>
  <strong>Product brand:</strong>
  <%= @product.product_brand %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
